body {
  background: linear-gradient(to right, #f0f0f0, #d6e4ff);
  font-family: Arial;
  margin: 0;
}

header {
  background: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

nav ul {
  display: flex;
  list-style: none;
  background: #555;
  margin: 0;
  padding: 0;
}

nav ul li {
  flex: 1;
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  text-align: center;
}

nav ul li a:hover {
  background: #777;
}

main {
  padding: 20px;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s;
}

img:hover {
  transform: scale(1.05);
}